In [12]:
import pandas as pd
import requests as r
from sqlalchemy import create_engine

In [19]:
request = r.get('https://www.fundsexplorer.com.br/ranking')

df = pd.read_html(request.text)[0]

In [20]:
df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,"R$ 2,18",16868.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 65.678.487,99","R$ 6,98",31.0,NaN,NaN,NaN,NaN,"56,00%",NaN,1
1,BZLI11,Títulos e Val. Mob.,"R$ 14,70",44041.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 431.076.817,02","R$ 10,70",137.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,"R$ 6,15",394.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 27.305.951,24","R$ 13,89",44.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
3,ALMI11,Lajes Corporativas,"R$ 932,03",21.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 249.632.973,43","R$ 2.245,37",42.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
4,PABY11,Híbrido,"R$ 7,45",95.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ -9.546.407,61","R$ -12,59",-59.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [21]:
df['DividendYield']

0      0,00%
1      0,00%
2      0,00%
3      0,00%
4      0,00%
       ...
277    1,12%
278    1,26%
279    0,94%
280    0,75%
281    0,71%
Name: DividendYield, Length: 282, dtype: object

### Conectando com db

In [22]:
db_connection_str = 'mysql+pymysql://root:my-secret-pw@172.17.0.1/teste'
db_connection = create_engine(db_connection_str)

# df = pd.read_sql('SELECT * FROM teste', con=db_connection)

In [23]:
df.count()

Códigodo fundo             282
Setor                      278
Preço Atual                274
Liquidez Diária            274
Dividendo                  282
DividendYield              276
DY (3M)Acumulado           276
DY (6M)Acumulado           276
DY (12M)Acumulado          276
DY (3M)Média               276
DY (6M)Média               276
DY (12M)Média              276
DY Ano                     262
Variação Preço             276
Rentab.Período             276
Rentab.Acumulada           276
PatrimônioLíq.             282
VPA                        282
P/VPA                      274
DYPatrimonial              247
VariaçãoPatrimonial        247
Rentab. Patr.no Período    247
Rentab. Patr.Acumulada     247
VacânciaFísica             123
VacânciaFinanceira          30
QuantidadeAtivos           282
dtype: int64

### Salvando dados db

In [24]:
df.to_sql(con=db_connection, name='table_name_for_df', if_exists='replace')

282